.brand-logo, .brand-name {
	font-family: 'Montserrat', sans-serif
}

.parallaxy{
	opacity: 0.6;
	filter: grayscale(100%);
}

.parallax:after {
    content:'';
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: #1e90ff;
    opacity: 0.8;
}

.parallax-container {
  min-height: 360px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
	width: 100%;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.shadow1{
    text-shadow: 2px 2px 2px #8b8989;
} 
.shadow2 {
    text-shadow: 2px 2px 2px #8b8989;
} 

.valign-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}